/*Alles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


/*Header CSS*/
.header-section {
    background-image: url("/Unsplash Bilder/Titelbild.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;

}


/*Header Navigation*/
.header-navigation {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.365);
    align-items: center;
}

.navbar {
    margin: 0 136px 0 0;
}

.navigation-item {
    margin: 25px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 2rem;
}

.navigation-item:hover {
    color: red;
}

/*Header Logo*/
.header-logo {
    margin-left: 30px;
}




/*Body CSS*/
:root {
--level-1: #cc918d;
--level-2: #c9c6bf;
--level-3: #a5bce6;
--black: black;
}

.body-section {
    margin: 50px 0 50px;
    text-align: center;
}

/*Holding Organigramm*/
.body-organigramm-holding {
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto 40px;
}

/*Schuber Organigramm*/
.body-organigramm-schuber {
    max-width: 1000px;
    padding: 0 10px;
    margin: 40px auto 40px;
}

.rectangle {
position: relative;
padding: 20px;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

ol {
list-style: none;
}



/*Level 1 Organigramm Holding*/
.lvl1-ceo-holding {
    width: 50%;
    margin: 0 auto 20px;
    background: var(--level-1);
}
.lvl1-ceo-holding::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: var(--black);
}


/*Level 2 Organigramm Holding*/
.lvl2-cfo-holding {
    width: 70%;
    margin: 0 auto 40px;
    background: var(--level-2);
}
.lvl2-cfo-holding::before {
    content: "";
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: var(--black);
}
.lvl2-cfo-holding::after {
    display: none;
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-100%, -50%);
    width: 20px;
    height: 2px;
    background: var(--black);
}


/*Level 3 Organigramm Holding*/
.lvl3-unterCEO-holding-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    width: 90%;
    margin: 0 auto;
}
.lvl3-unterCEO-holding-wrapper::before {
    content: "";
    position: absolute;
    top: -20px;
    left: calc(25% - 5px);
    width: calc(50% + 10px);
    height: 2px;
    background: var(--black);
}
.lvl3-unterCEO-holding-wrapper > li::before {
    content: "";
    position: absolute;
    top: 0;
    transform: translate(-50%, -100%);
    width: 2px;
    height: 20px;
    background: var(--black);
}
.lvl3-unterCEO-holding {
    margin-bottom: 20px;
    background: var(--level-3);
}


/*Level 1 Organigramm Schuber*/
.lvl1-ceo-schuber {
    width: 50%;
    margin: 0 auto 20px;
    background: var(--level-1);
}
.lvl1-ceo-schuber::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: var(--black);
}


/*Level 2 Organigramm Schuber*/
.lvl2-admin-schuber {
    width: 70%;
    margin: 0 auto 40px;
    background: var(--level-2);
}
.lvl2-admin-schuber::before {
    content: "";
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: var(--black);
}
.lvl2-admin-schuber::after {
    display: none;
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-100%, -50%);
    width: 20px;
    height: 2px;
    background: var(--black);
}


/*Level 3 Organigramm Schuber*/
.lvl3-mitarbeiter-schuber-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    width: 90%;
    margin: 0 auto;
}
.lvl3-mitarbeiter-schuber-wrapper::before {
    content: "";
    position: absolute;
    top: -20px;
    left: calc(25% - 5px);
    width: calc(50% + 10px);
    height: 2px;
    background: var(--black);
}
.lvl3-mitarbeiter-schuber-wrapper > li::before {
    content: "";
    position: absolute;
    top: 0;
    transform: translate(-50%, -100%);
    width: 2px;
    height: 20px;
    background: var(--black);
}
.lvl3-mitarbeiter-schuber {
    margin-bottom: 20px;
    background: var(--level-3);
}






/*Footer CSS*/
.footer-section {
    background-color: lightgray;
}

.footer-Container {
    display: flex;
    align-items: center;
    padding: 20px;
}


/*Footer Kontakt*/
.footer-contact {
    width: 50%;
}

.Kontakt-Container {
    display: flex;
}

.Kontakt-Text {
    display: flex;
    flex-direction: column;
    width: 55%;
    justify-content: center;
    padding-right: 60px;
}

.Kontakt-Tabelle {
    display: flex;
    width: 45%;
    align-items: center;
    text-align: left;
    padding: 0 50px 0 0;
    justify-content: flex-end;
}

/*Footer Showroom*/
.footer-showroom {
    width: 50%;
}

.showroom-Container {
    display: flex;
}

.showroom-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: right;
    justify-content: center;
    padding: 0px 50px 0 30px;
}

.showroom-karte-item {
    margin: 0;
    padding: 0;
}

.showroom-karte {
    max-width: 300px;
    max-height: 196px;
}