body, html {
    margin: 0;
    padding: 0;
}

.navigation{
    display: flex;
    padding: 0 20px;
}

.TitelbildCon {
    display: flex;
    width: 100%;
    height: 800px;
    background: url('Unsplash\ Bilder/Titelbild.jpg') no-repeat top left;
    background-size: 100%;
    justify-content: space-between;
}

.LogoItem img {
    padding: 40px 0 0 60px;
}

.titelnavigation-item {
    display: flex;
    margin: auto;
}


.navigation-container {
    display: flex;
}

.navigation-item{
    font-size: 40px;
    display: flex;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 50px;
}

.navigation-item:hover {
    color: white;
}

.ContentContainer {
    display: flex;
    width: 100%;
    height: 1000px;
    background-size: 100%;
    justify-content: center;
}

.TeaserItem {
    width: 1000px;
    height: 500px;
    background-image: url("Unsplash Bilder/ContentItemBild.jpg");
    background-size: cover;
    margin: auto;
    text-align: right;
}

.TeaserItem h1 {
    color: white;
    padding: 20px 20px 0 0;
}

.TeaserItem h2 {
    color: white;
    padding: 40px 20px 0 50%;
}

.ItemText{
    display: flex;
    color: white;
    margin: 120px 0 129px 0;
    padding: 0 20px 0 10px;
}


.Fusszeile {
    background-color: rgb(180, 190, 180);
    margin: 0;
}

.Fusszeilen-Container {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.Fusszeile-Item {
    display: flex;
    color: black;
    padding: 0px 20px 0px 20px;
}

.textueber {
    font-size: 20px;
    font-display: block;
}