
/*Alles*/
* {
    margin: 0;
    padding: 0;
}


/*Header CSS*/
.header-section {
    background-image: url("Unsplash Bilder/Titelbild.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
}

/*Header Navigation*/
.header-navigation {
    display: flex;
    justify-content: space-between;
}

.navbar {
    margin: 75px 136px 0 0;
}

.navigation-item {
    margin: 25px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 2rem;
}

.navigation-item:hover {
    color: white;
}

/*Header Logo*/
.header-logo {
    margin-left: 30px;
}

/*Header News*/
.header-news {
    display: flex;
    justify-content: center;
    height: 400px;
}

.header-news-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 60%;
    height: 315px;
    background-color: rgba(219, 201, 159, 0.424);
    box-shadow: 0.5rem 0.5rem rgba(47, 47, 47, 0.472), -0.5rem -0.5rem rgba(47, 47, 47, 0.472)
    
}

.header-news-itemtext {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 40%;
}

.header-news-itembild {
    display: flex;
    width: 473px;
    height: 315px;
}





/*Body CSS*/
.body-section {
    background-color: rgba(149, 161, 177, 0.424);
}

/*Body Über Uns*/
.Body-UeberUns {
    display: flex;
    justify-content: center;
    height: 300px;
}

.UeberUns-Container {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 30px;
    background-color: rgba(219, 201, 159, 0.424);
}

.UeberUns-Text {
    display: flex;
    flex-direction: column;
    padding: 45px;
}

.UeberUns-Bild {
    display: flex;
    width: 300px;
    height: 300px;
}





/*Body Dienstleistungen*/
.Body-Dienstleistungen {
    display: flex;
    justify-content: center;
    height: 403px;
}

.Dienstleistungen-Container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 30px;
    background-color: rgba(219, 201, 159, 0.424);
}

.Dienstleistungen-Text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 138px 0 138px;
}

/*Dienstleistungen Tabelle*/
.Dienstleistungen-Tabelle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 20px 0;
    text-align: left;
}

.Dienstleistungen-Tabelle th {
    padding-right: 180px;
}

/*.Dienstleistungen-Tabelle td {

}
*/



/*Body Schuber Holding*/
.Body-SchuberHolding {
    display: flex;
    justify-content: center;
    height: 423px;
}

.SchuberHolding-Container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 30px;
    background-color: rgba(219, 201, 159, 0.424);
}

.SchuberHolding-Text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 138px 0 138px;
}

/*SchuberHolding Tabelle*/
.SchuberHolding-Tabelle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: left;
}

.SchuberHolding-Tabelle th {
    padding-right: 130px;
}

/*.SH-Table-Name {

}
*/

.SH-Table-Zweck {
    padding-right: 1px;
}

.SH-Table-URL {
    text-decoration: none;
}





/*PreFooter Abteil*/
.prefooter-section {
    background-color: grey;
}

/*PreFooter ContactFormula*/
.prefooter-ContactFormula {
    display: flex;
    justify-content: center;
    height: 450px;
}

.ContactFormula-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

/*PreFooter KontaktFormular*/
.Kontaktformular {
    display: flex;
    flex-direction: column;
    align-items: center;
}




/*Footer Abteil*/
.footer-section {
    background-color: lightgray;
}

.footer-Container {
    display: flex;
    height: 200px;
}


/*Footer Kontakt*/
.footer-contact {
    width: 50%;
}

.Kontakt-Container {
    display: flex;
}

.Kontakt-Text {
    display: flex;
    flex-direction: column;
    width: 55%;
    justify-content: center;
    padding-right: 60px;
}

.Kontakt-Tabelle {
    display: flex;
    width: 45%;
    align-items: center;
    text-align: left;
    height: 200px;
    padding: 0 50px 0 0;
    justify-content: flex-end;
}


/*Footer Showroom*/
.footer-showroom {
    width: 50%;
}

.showroom-Container {
    display: flex;
}

.showroom-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: right;
    justify-content: center;
    padding: 0px 50px 0 30px;
}

.showroom-karte {
    margin: 0;
    padding: 0;
}
